$primary-color: rgba(11, 216, 243, 0.699);
$secondary-color: rgb(240, 241, 241);

.email {
    display: flex;
    flex-direction: column;
    border: solid 1px $secondary-color;
    padding: 20px;
    border-radius: 5px;
    // box-shadow: 0 0 5px 5px rgba(115, 204, 231, 0.699);
    animation: flicker 4s infinite alternate;
}

.email input, .email textarea{
    font-family: 'Roboto';
    font-weight: 100;
    background-color: rgba(238, 238, 238, 0.137);
    outline: none;
    border: none;
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    box-shadow: 0 0 4px  $secondary-color ,
        0 0 11px  $secondary-color ,
        0 0 10px $primary-color inset,

}



@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 75%, 100% {
  
        box-shadow:
        0 0 4px  $secondary-color ,
        0 0 9px  $secondary-color ,
        0 0 10px $primary-color inset,
        0 0 20px  $primary-color inset,
        0 0 80px 0px $primary-color

    }
    
    20%, 24%, 55% {        
       box-shadow: none;
    }    
  }