.about {
  display: flex;
  justify-content: space-around;
  /* height: 100vh; */
  background-color: #f9f9f9;
  /* width: 100%; */
  padding: 0;
}

.titleLeft,
.titleRight {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 300;
  letter-spacing: 20px;
  height: 100vh;
  width: 100vh;
  font-size: 20px;
  color: rgba(94, 94, 94, 0.966);
  /* align-items: center; */
}

.titleLeft,
.titleLeftExit {
  text-align: left;
  width: 300px;
  padding-left: 30px;
  height: 300px;
  margin: auto;
  /* width: 85vh; */
}

.titleLeftExit {
  transform: translateX(-100px);
  width: 0;
  height: 0;
  padding: 0;
  /* margin-left: 0; */
  transition: 1200ms;
  /* transition-delay: 2s; */
}

.titleRight,
.titleRight2 {
  /* background-color: #40D9EA; */
  /* transform: skewY(20deg); */
  /* width: 50%; */
  clip-path: polygon(32% 0, 100% 0, 100% 100%, 0% 100%);
  background-image: url("../public/ellipse.png");
  background-repeat: no-repeat;
  background-size: 140%;
  /* z-index: 3; */
  /* filter: hue-rotate(-30deg); */
}

.titleRight2 {

  font-family: "Roboto", sans-serif;
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 60px 100%);
  margin-left: 0;
  left: -20px;
  background-color: #40d9ea;
  background-size: 150%;
  transition: 1500ms;
  transition-delay: 1s;
  width: 120%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rightText {
  width: 400px;
  margin-right: 0;
  margin: auto;
  /* margin-top: 43px; */
  font-weight: 400;
  color: #f9f9f9;
}

.leftText {
  font-weight: 400;
}

.innerContainer {
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.button {
  transform: rotate(-90deg);
  padding: 0;
  width: 100px;
  position: "absolute";
  right: 20px;
  bottom: 10px;
}

@media only screen and (max-width: 1111px) {

  .titleRight,
  .titleRight2 {
    background-attachment: fixed;
  }
}

@media only screen and (max-width: 1000px) {

  .titleRight,
  .titleRight2 {
    background-size: 2000px;
    margin-right: 0px;
  }

  .rightText {
    /* margin-right: 10px; */
  }
} 

@media only screen and (max-width: 1000px) {
  .about {
    flex-direction: column;
    height: 100vh;
  }

  .titleLeft{
    margin-left: 0;
  }
  .titleLeft, .titleRight, .titleRight2{
    /* margin-left: 0; */
    font-size: 10px;
    letter-spacing: 1.2;
  }
  .titleRight,
  .titleRight2 {
    background-image: url("../public/ellipse.png");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 100%;
  }

  .titleRight2{
    clip-path: polygon(0px 60px, 100% 60px, 100% 100%, 0px 100%);
  }
  .titleRight{
    clip-path: polygon(0% 50%, 100% 0, 100% 100%, 0% 100%);
  }
}