@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
