
.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #72E0ED;
  color: #F9F9F9;
  position: absolute;
}


.door {
  cursor: pointer;
  margin-top: 150px;
  width: 130px;
  height: 100px;
}

.title {
  font-weight: 400;
  opacity: 1;
  transition: 300ms;
  letter-spacing: 10px;
  padding-left: 11px;
}

.hide{
  opacity: 0;
  letter-spacing: 100px;
  transition: 300ms;
}

@media only screen and (max-width: 600px) {
  .hide {
    display: none;
  }
}