.about {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: #f9f9f9;
  width: 100vw;
}



.titleRight2 {
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 60px 100%);
  margin-left: 0;
  left: -20px;
  background-color: #40d9ea;
  background-size: 150%;
  transition: 1500ms;
  transition-delay: 1s;
  width: 100%;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
