.main{
  overflow-y: hidden;
}
.about {
  display: flex;
  justify-content: space-around;
  height: 2000px;
  background-color: #f9f9f9;
  width: 100vw;
  overflow-y: hidden;
}

.icons{
  z-index: 4;
  transition: 1500ms;
}

.titleRight2 {
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 60px 100%);
  margin-left: 0;
  left: -20px;
  background-color: #40d9ea;
  background-size: 150%;
  transition: 1500ms;
  transition-delay: 1s;
  width: 100%;
  margin-right: 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.intro {
  font-family: "Roboto";
  letter-spacing: 5px;
  border-left: solid 5px rgba(255, 255, 255, 0.61);
  margin-left: 00px;
  margin-top: 250px;
  margin-bottom: 70px;
  font-size: 44px;
  padding: 0;
  padding-left: 40px;
  padding-top: 0px;
  color: white;
  height: auto;
}

.intro > h1 {
  margin: 0;
  padding-top: 0;
  margin-top: 10px;
}

.intro > h3 {
  margin: 0;
  font-weight: 300;
  margin-top: 10px;
}

.intro > h4 {
  font-weight: 100;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 0px;
}

.transition {
  font-size: "50px";
  text-align: "center";
  /* position: "absolute"; */
  left: "50%";
  transform: "translateX(-50%)";
  top: "50%";
}

.darkModeButton, .darkModeButtonMobile{
  font-size: 30px;
  text-align: center;
  background-color: aliceblue;
  width: 300px;
  margin: auto;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50px;
  color: #979797;
  transition: 500ms;
  cursor: pointer;
}

.darkModeButtonMobile{
  display: none;
}

.darkModeButton:hover, .darkModeButtonMobile:hover{
  background-color: black;
  transition: 500ms;
  color: aliceblue;
}

.main__content {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .titleRight2 {
    clip-path: polygon(0px 60px, 100% 60px, 100% 100%, 0px 100%);
  }

  .icons {
    flex-direction: row !important;
    margin-top: 10px !important;
    left: 50vw !important;
    width: 100%;
    justify-content: space-around;
    left: 0 !important;
    transition: 1500ms;
  }
  
  .main__content{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* margin-bottom: 200px; */
    /* height: inherit; */
    overflow-y: scroll;
    height: 110%;
  }
  .main{
    /* overflow-y: scroll; */
    /* height: 100%; */
  }
  .about{
    overflow-y: scroll;
    height: 100%;
  }

  .web__animation{
    display: flex;
    justify-content: center;
  }

  .intro {
    border-top: solid 5px rgba(255, 255, 255, 0.61);
    border-left: 0;
    margin-left: 00px;
    margin-top: 0px;
    margin-bottom: 70px;
    font-size: 44px;
    padding: 0;
    padding-top: 10px;
    color: white;
    height: auto;
  }

  .titleRight2 {
    clip-path: polygon(0px 60px, 100% 60px, 100% 100%, 0px 100%);
    margin-left: 0;
    left: -20px;
    background-color: #40d9ea;
    background-size: 150%;
    transition: 1500ms;
    transition-delay: 1s;
    width: 100%;
    margin-right: 0;
    height: 1500px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  .darkModeButtonMobile{
    display: initial;
  }

  .darkModeButton {
    display: none;
  }
}